/* Algemeen */

/* algemene lettertype instellingen */
* {
	font-family: calibri, arial, verdana, serif;
	font-size: 11pt;
}

*:active {
	outline: none;
}

/* algemene h1 opmaak */
h1 {
    color: #2A1011;
    font-family: papyrus;
    font-size: 24pt;
    font-weight: normal;
    margin-bottom: 10px;
    padding-top: 10px;
}

/* papyrus font wordt ingebed voor zekerheid */
@font-face { font-family: papyrus; src: url(afbeeldingen/papyrus.ttf); }

html, body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	background: #343434
}

/* dit zijn de labels van bv. de doelgroepen selectie op het hoofdscherm */
label {
    cursor: pointer;
    display: inline-block;
    margin: auto;
    width: 200px;
}

input, textarea {
    margin: 0;
    width: 200px;
}

/* plaatjes die ook als link dienen mogen geen border meekrijgen */
a img {
	border: none;
}

h1, h2, h3 {
	margin: 0px;
}

/* opmaak van de checkboxes bij bv de doelgroepen selectie */
input[type=checkbox], table.formtable input[type=checkbox] {
	display: inline;
	width: 25px;
	vertical-align: sub;
}


/* Algemeen */

/* breedte van de pagina */
div#maincontainer {
	width: 1017px;
	margin: auto;
}

/* header achtergrond */
div#header {
	background: url('afbeeldingen/header-background.jpg') bottom no-repeat;
	height: 171px;
}

/* tabbladen menu */
div#menu {
    clear: both;
    float: left;
    width: 1017px;
    background: #291010;
}

/* afgeronde bovenrand (onder tabbladen) */
div#topcontent{
	background: url('afbeeldingen/content-top-background.jpg') bottom no-repeat;
	height: 7px;
	clear: both;
}

/* achtergrond content (zonder boven en onderrand) */
div#content {
	background: url('afbeeldingen/content-background.jpg') top repeat;
	padding: 15px 25px 25px 25px;
	min-height: 600px;
	height: 100%;
}

/* text van de footer */
div#namen_text {
    position: relative;
    bottom: 10px;
    text-align: center;
    width: 1017px;
}

/* afgeronde onderrand van de content (dus footer) */
div#namen {
    background: url("afbeeldingen/content-footer-background.jpg") no-repeat scroll 0 0 transparent;
}

/* Tabbladen MENU */

/* oude opmaak KAN DIT WEG???? */
div#menu a {		/* de text van de tabbladen */
	padding: 5px;
	color: black;
	text-decoration: none;
}
	/* onderstreept bij zweven boven link */
	div#menu a:hover {
		text-decoration: underline;
	}
	
	/* bij inklikken onderstreping weer weg */
	div#menu a:active {
		text-decoration: none;
	}
	
	/* bij bezocht ook zwart */
	div#menu a:visited {
		color: black;
	}

/* nieuwe opmaak */
div#menu ul {
     list-style: none outside none;
     margin: 0px;
     padding: 0px 0px 0px 50px;
}
	/* hoogte etc van individuele tabs */
	div#menu ul li {
		 float: left;
		 height: 31px;
		 margin: 0px 1px 0px 0px;
		 padding: 0px;
	}
		/* achtergrond (linkerhoek) van de (inactieve) tabs */
		div#menu ul li a {
			 background: url("afbeeldingen/tabblad-nonactive-lhoek.jpg") no-repeat scroll left top transparent;
			 float: left;
			 height: 31px;
			 padding: 0px;
		}
			/* rest van de afbeelding van de tabs
 * 			   de lengte is flexibel */
			div#menu ul li a span {
				 background: url("afbeeldingen/tabblad-nonactive-background.jpg") no-repeat scroll right top transparent;
				 margin-left: 13px;
				 padding: 8px 20px 0px 10px;
				 float: left;
				 height: 31px;
			}
	
	/* rechterdeel achtergrond van ACTIEF tabblad, ook bij hover */		
	div#menu ul li.active a span, div#menu ul li.active a:hover span {
    	background: url("afbeeldingen/tabblad-active-background.jpg") no-repeat scroll right top transparent;
	}
	
	/* linkerhoek achtergrond van ACTIEF tabblad, ook bij hover */
	div#menu ul li.active a, div#menu ul li.active a:hover {
	     background: url("afbeeldingen/tabblad-active-lhoek.jpg") no-repeat scroll left top transparent;
	}
	
	/* rechterdeel achtergrond van INACTIEF tabblad, bij hover */
	div#menu ul li a:hover span {
	     background: url("afbeeldingen/tabblad-hover-background.jpg") no-repeat scroll right top transparent;
	}

	/* linkerhoek achtergrond van INACTIEF tabblad, bij hover */	
	div#menu ul li a:hover {
	     background: url("afbeeldingen/tabblad-hover-lhoek.jpg") no-repeat scroll left top transparent;
	}
	
/* Inlog box */
div#inlogbox, div.ingelogd {
	float: right;
	width: 365px;
	height: 171px;
	background: url("afbeeldingen/inlogbox.jpg") no-repeat;
}
	/* het form bevat de twee invoervelden, inlogknop & registratieknop */
	div#inlogbox form {
		position: relative;
		left: 102px;
		top: 28px;
	}
	
	div#ingelogd_info{
		position: relative;
		left: 102px;
		top: 28px;
	}
	
	/* achtergrond en opmaak van de invoervelden */
	div#inlogbox form input {
		margin: 0px;
		height: 42px;
		width: 230px;
		border: none;
		background: url("afbeeldingen/input_background.jpg") no-repeat;
		padding: 0px;
		padding-left: 7px;
		color: #291010;
	}
	
	/* achtergrond en opmaak van de invoervelden bij focus */
	div#inlogbox form input:focus {
		background: url("afbeeldingen/input_background_focus.jpg") no-repeat;
		outline: none;
	}
	
	/* inlog knop (pijltje) */
	div#inlogbox form input[type=submit] {
		background: url("afbeeldingen/inlog_button.jpg") no-repeat;
		width: 40px;
		height: 29px;
		cursor: pointer;
		margin-left: 185px;
	}
	
	/* inlogknop iets lichter bij hover*/
	div#inlogbox form input[type=submit]:hover {
		opacity: 0.5;
	}
	
	/* registratielink bij inlogbox */
	span#registratielink a, span#registratielink a:visited {
		color: #291010;
		text-decoration: none;
	}
	
	span#registratielink a:hover {
   	 text-decoration: underline;
	}
	span#registratielink {
		position: relative;
    	right: -103px;
    	top: 7px;
	}

/* INGELOGD BOX */

div#ingelogd_info {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    height: 116px;
    left: 100px;
    position: relative;
    top: 12px;
    width: 237px;
}

	div#ingelogd_info p {
		padding: 5px;
	}
	
	div#ingelogd_info p  a {
		color: inherit;
	}

/* Evenement toevoegen tabel */

div.form table tr tr {
	padding: 5px;
}

table#event_toevoegen, table#contact {
    width: 50%;
}
td#eerstecel {
    width: 90px;
}
table.formtable input {
    width: 100%;
}
table.formtable textarea {
	width: 100%;
    height: 90px;
}

/* Form doelgroepen (doelgroepen selectie) */	

div#doelgroepen  ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	width: 250px;
	float: left;
}

div#doelgroepen ul li {
	width: 100px;
	padding: 0px;
	float: left;
	margin: 5px;
	height: 16px;
	cursor: pointer;
}
	div#doelgroepen ul li:hover {
		text-decoration: underline;
	}
	
	div#doelgroepen ul li:hover > span.red, div#doelgroepen ul li:hover > span.red_off {
		background:	rgba(255, 0, 0, 0.7);
	}
	
	div#doelgroepen ul li:hover > span.blue, div#doelgroepen ul li:hover > span.blue_off {
		background:	rgba(0, 0, 255, 0.7);
	}
	
	div#doelgroepen ul li:hover > span.green, div#doelgroepen ul li:hover > span.green_off {
		background:	rgba(0, 255, 0, 0.7);
	}	

	div#doelgroepen ul li span {
		display: block;
		height: 16px;
		width: 16px;	
		float: left;
		margin-right: 5px;
		cursor: pointer;
	}
/* kleuren voor categorien voor afspraken */
span.red {
	border:	1px solid rgba(255, 0, 0, 0.5);
	background: rgba(255, 0, 0, 0.5);
}

span.green {
	border:	1px solid rgba(0, 255, 0, 0.5);
	background: rgba(0, 255, 0, 0.5);
}

span.blue {
	border:	1px solid rgba(0, 0, 255, 0.5);
	background: rgba(0, 0, 255, 0.5);
}

span.red_off {
	background: rgba(255, 0, 0, 0.3);
}

span.green_off {
	background: rgba(0, 255, 0, 0.3);
}

span.blue_off {
	background: rgba(0, 0, 255, 0.3);
}

	

/* LIJST VAN EVENEMENTEN*/

div#event_lijst_container {
    clear: left;
}

/* datum en details evenement moeten naast elkaar */
.eendags_event, .event_details {
    float: left;
}

/* breedte van de lijst zelf */
ul.event_lijst {
    width: 50%;
}

/* opmaak lijst elementen, inclusief kalender icoon als achtergrond */
li.event {
    height: 50px;
    list-style: none outside none;
    margin-bottom: 15px;
    width: auto;
    background: url(afbeeldingen/kalender_icon.png) no-repeat scroll 0 0 #988989;
	-moz-border-radius: 5px 10px 10px 0px;
	border-radius: 5px 10px 10px 0px;
}

.event_lijst, .eendags_event {
    margin: 0;
    padding: 0;
}

/* juiste uitlijning van de datum */
.jaar, .dd-mm {
    display: block;
    text-align: center;
    width: 50px;
}

/* opmaak jaar */
.jaar {
    color: white;
    font-weight: bold;
    height: 15px;
	margin-top: -2px;
}

.event_details {
    margin-left: 20px;
}

/* opmaak dag/maand */
.dd-mm {
    font-weight: bold;
    margin-top: 2px;
}

/* titel en tijd van evenementen*/
.event_titel, .begintijd {
    line-height: 1.5;
    margin: 0;
}

.begintijd {
    font-family: calibri,verdana;
    font-size: 12pt;
}

/* titel event bij hover */
.event_titel a:hover {
    text-decoration: underline;
}

/* titel event algemeen */
.event_titel a {
    color: #2A1011;
    font-family: Comic Sans MS,verdana;
    font-size: 12pt;
    text-decoration: none;
}

/* hover effect*/
li.event:hover {
    background: url("afbeeldingen/kalender_icon.png") no-repeat scroll 0 0 #2A1011;
}
li.event:hover > div p a, li.event:hover > div p.begintijd {
    color: #EBB8B7;
}

/* TABLES */

table#evenement td.rechts {
    width: 500px;
}
table#evenement td {
    border: 1px solid black;
    padding: 5px;
    width: 100px;
}
table#evenement {
    border: medium solid black;
	margin-bottom: 8px;
}

table#user_events {
    border: 3px black solid;
    margin: auto;
}
table#user_events th {
    padding-right: 10px;
    padding-left: 10px;
}
table#user_events td {
    border: 1px solid black;
}
td#sorteer, td#sort_name {
    width: 77px;
}
table#sort_table {
    width: 100%;
	border: 1px solid #2a1011;
    background: #967782;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    padding: 5px;
}
td#recht_checkbox form ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
td#recht_checkbox form ul li {
    float: left;
}
td#zoek {
	float:right;
}

span#zoek_text {
	padding-right: 5px;
}

input#zoek_box {
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #2a1011;
	height: 25px;
	padding-left: 5px;
}
/*  BUTTONS */

button {
    width:  auto;
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    padding-top:  8px;
	padding-bottom: 8px;
	float: left;
	cursor: pointer;
}
	
a.button, *.submit_button .button .right{
    background: transparent url('afbeeldingen/bg_button_a.png') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}
	a.button:active, *.submit_button .button:active .right {
		background-position: bottom right;
		color: #000;
		outline: none; /* hide dotted outline in Firefox */
	}
	
	a.button:active span, *.submit_button .button:active .inner{
		background-position: bottom left;
		padding: 6px 0 4px 18px; /* push text down 1px */
	} 
	
	a.button span, *.submit_button .button .inner{
		background: transparent url('afbeeldingen/bg_button_span.png') no-repeat;
		display: block;
		line-height: 14px;
		padding: 5px 0 5px 18px;
	}

span.next, span.prev {
	margin: 5px;
	width: 48px;
	height: 33px;
	float: left;
	cursor: pointer;
}

span.next {
	background: url("afbeeldingen/next.png") no-repeat;
}

span.prev {
	background: url("afbeeldingen/prev.png") no-repeat;
}

span.next:hover, span.prev:hover {
	opacity: 0.5;
}

div#buttons {
	position: relative;
	left: 198px;
	float: left;
}


/* Tabel agenda */

table#agenda td:first-child, table#agenda th:first-child {
    border-right-width: 2px;
	width: 40px;
}

table#agenda th {
    border-bottom-width: 2px;
}

table#agenda td, table#agenda th {
    background: white;
    border: 1px solid #eee;
    padding: 5px;
    margin: 1px;
}

table#agenda {
    margin: 0px;
    padding: 0px;
    border: medium none;
    background: none;
    border-collapse: collapse;
	width: 100%;
    table-layout: fixed;
	margin-top: 5px;
}

.clearer {
	clear: both;
}

/* Weergave selectie */

div#weergave {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.25);
    border: 1px solid #AAAAAA;
    float: right;
    height: 40px;
    padding: 0;
}

	div#weergave a {
		color: #000000;
		display: block;
		float: left;
		height: 20px;
		padding: 10px 20px;
		text-decoration: none;
		background: #ddd;
	}
	
	div#weergave a.active {
		text-decoration: none;
		font-weight: bold;
		background: #eee;
	}
	
	div#weergave a.active:hover {
		text-decoration: none;
	}
	
	div#weergave a:hover {
		text-decoration: underline;
	}
	
	div#weergave span {
		background: none repeat scroll 0 0 #CCCCCC;
		display: block;
		float: left;
		height: 40px;
		margin: 0;
		width: 1px;
	}

/* OPMAAK ACCOUNT PAGINA */

table#wijzigww_tabel td {
    padding-bottom: 5px;
}

td#wijzigww_buttons button {
    position: relative;
    padding: 0px;
}
button#wwopslaan {
    left: 8px;
    margin-bottom: 5px;
}
button#wwreset {
    left: 27px;
}

/* Opmaak userlist */

ul#userlistlist {
     float: left;
     list-style: none outside none;
     margin: 0pt;
     padding: 0pt;
     width: 800px;
}

	ul#userlistlist li {
		 -moz-border-radius: 8px 8px 8px 8px;
		 border-radus: 8px;
		 background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.8);
		 border: 1px solid rgba(0, 0, 0, 0.2);
		 cursor: pointer;
		 float: left;
		 margin: 5px 10px 5px 0px;
		 padding: 8px;
		 width: 250px;
	}

	ul#userlistlist li a {
		 color: inherit;
		 float: left;
		 text-decoration: none;
	}

	ul#userlistlist li:hover {
		 background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.4);
	}

	ul#userlistlist li:hover > a {
		 font-weight: bold;
	}
