/* Algemeen */
* {
	font-family: arial, verdana, serif;
	font-size: 12px;
}

html, body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	background: #343434
}

label {
    cursor: pointer;
    display: inline-block;
    margin: auto;
    width: 200px;
}

input, textarea {
    display:  block;
    margin:  auto;
    width: 200px;
}

a img {
	border: none;
}

h1, h2, h3 {
	margin: 0px;
}

input[type=checkbox] {
	display: inline;
	width: 25px;
	vertical-align: text-top;
}


/* Algemeen */

div#maincontainer {
	width: 1017px;
	margin: auto;
}

div#header {
	background: url('afbeeldingen/header-background.jpg') bottom no-repeat;
	height: 171px;
}

	form.inloggen, div.ingelogd {
		width: 250px;
		padding: 10px;
		border: none;
		background: rgba(255, 255, 255, 0.5);
		float: right;
	}

div#menu {
    clear: both;
    float: left;
    width: 1017px;
    background: #291010;
}

div#topcontent{
	background: url('afbeeldingen/content-top-background.jpg') bottom no-repeat;
	height: 7px;
	clear: both;
}

div#content {
	background: url('afbeeldingen/content-background.jpg') top repeat;
	padding: 15px;
	height: 100%;
}

div#namen_text {
    bottom: 666666p  position: relative;
    text-align: center;
    width: 1017px;
}

div#namen {
    background: url("afbeeldingen/content-footer-background.jpg") no-repeat scroll 0 0 transparent;
}

/* MENU */

div#menu a {
	padding: 5px;
	color: black;
	text-decoration: none;
}

	div#menu a:hover {
		text-decoration: underline;
	}

	div#menu a:active {
		text-decoration: none;
	}

	div#menu a:visited {
		color: black;
	}

div#menu ul {
     list-style: none outside none;
     margin: 0px;
     padding: 0px 0px 0px 50px;
}

	div#menu ul li {
		 float: left;
		 height: 31px;
		 margin: 0px 1px 0px 0px;
		 padding: 0px;
	}

		div#menu ul li a {
			 background: url("afbeeldingen/tabblad-nonactive-lhoek.jpg") no-repeat scroll left top transparent;
			 float: left;
			 height: 31px;
			 padding: 0px;
		}

			div#menu ul li a span {
				 background: url("afbeeldingen/tabblad-nonactive-background.jpg") no-repeat scroll right top transparent;
				 margin-left: 13px;
				 padding: 8px 20px 0px 10px;
				 float: left;
				 height: 31px;
			}
			
	div#menu ul li.active a span, div#menu ul li.active a:hover span {
    	background: url("afbeeldingen/tabblad-active-background.jpg") no-repeat scroll right top transparent;
	}
	
	div#menu ul li.active a, div#menu ul li.active a:hover {
	     background: url("afbeeldingen/tabblad-active-lhoek.jpg") no-repeat scroll left top transparent;
	}
	
	div#menu ul li a:hover span {
	     background: url("afbeeldingen/tabblad-hover-background.jpg") no-repeat scroll right top transparent;
	}
	
	div#menu ul li a:hover {
	     background: url("afbeeldingen/tabblad-hover-lhoek.jpg") no-repeat scroll left top transparent;
	}

/* Evenement toevoegen */

div.form table tr tr {
	padding: 5px;
}

div.form form table {
	margin-left: 18px;
}

/* Form doelgroepen */	

form#doelgroepen {
    border: 1px solid #900;
    width: 250px;
    background: rgba(255, 0, 0, 0.2);
}

form#doelgroepen fieldset label {
	margin: 3px;
}

form#doelgroepen span {
    display: block;
    width: 200px;
}

form#doelgroepen span input, form#doelgroepen span label {
    display: inline;
    width: auto;
    padding:  5px;
    margin: 5px;
    font-weight: bold;
}

input#doelgroep_bar + label, .bar {
    color: blue;
}
input#doelgroep_afwas + label, .afwas {
    color: darkorange;
}
input#doelgroep_kok + label, .kok {
    color: indigo;
}
input#doelgroep_klant + label, .klant {
    color: darkgreen;
}
form#doelgroepen span label {
    width: 100px;
}

form#doelgroepen span label {
    width: 100px;
}

/* LIJST */

div#weeklijst {
    background: none repeat scroll 0 0 blanchedAlmond;
    margin-top: 50px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
}

	div#weeklijst a:hover {
		font-weight: normal;
		text-decoration: underline;
	}
	div#weeklijst a {
		color: inherit;
		text-decoration: none;
	}
	div#weeklijst a:visited {
		font-weight: normal;
	}

div#weeklijst h1 {
    color: darkblue;
    font-size: 16pt;
    margin-top: 10px;
}


div#weeklijst ul {
    font-weight: bold;
}
	div#weeklijst ul.leeg {
		color: red;
	}

/*  BUTTONS */

button {
    width:  auto;
    background: #ddd;
    border: 1px solid black;
    padding:  3px;
    margin-top:  10px;
	float: left;
}
	
a.button {
    background: transparent url('afbeeldingen/bg_button_a.png') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}
	a.button:active {
		background-position: bottom right;
		color: #000;
		outline: none; /* hide dotted outline in Firefox */
	}
	
	a.button:active span {
		background-position: bottom left;
		padding: 6px 0 4px 18px; /* push text down 1px */
	} 
	
	a.button span {
		background: transparent url('afbeeldingen/bg_button_span.png') no-repeat;
		display: block;
		line-height: 14px;
		padding: 5px 0 5px 18px;
	}
